# Web scrapping Assignment-3

# Question 1.
 Write a python program which searches all the product under a particular product from www.amazon.in.
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yash bhinge\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: trio~=0.17 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sniffio in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\yash bhinge\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yash bhinge\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.amazon.in/")

In [5]:
def search():
    Search_tag=driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
    search_input=str(input('Typehere and I will get you there  ')) # take the user inpute
    Search_tag.send_keys(search_input)
    time.sleep(5)
    search=driver.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')
    search.click()

In [6]:
search()

Typehere and I will get you there  Guitar

# Question2.
In the above question, now scrape the following details of each product listed in first 3 pages of your
search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [7]:
from selenium.common.exceptions import NoSuchElementException

In [8]:
Brand_Name=[] # create a list to store the brand name
Name_of_the_Product=[]
Price=[]
ET=[]

In [9]:
BN= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-4"]')
for i in BN:
    if i.text is None: #if any of the details are missing for any of the product then replace it by “-“.
        Brand_Name.append('-')
    else:
        Brand_Name.append(i.text.split(" ")[0])

In [10]:
for i in BN:
    if i.text is None:
        Name_of_the_Product.append('-')
    else:   
        Name_of_the_Product.append(i.text)

In [11]:
p = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in p:
    if i.text is None:
        Price.append('-')
    else:
        Price.append(i.text)

In [12]:
Time = driver.find_elements(By.XPATH,'//span[@class="a-color-base a-text-bold"]')
for i in Time:
    if i.text is None:
        ET.append('-')
    else:
        ET.append(i.text)

In [13]:
len(Brand_Name),len(Name_of_the_Product),len(Price),len(ET)

(65, 65, 75, 64)

In [14]:
df=pd.DataFrame()
df['Price']=Price[0:60]
df['Name_of_the_Product']=Name_of_the_Product[0:60]
df['ET']=ET[0:60]
df['Brand_Name']=Brand_Name[0:60]

df.head()

,Price,Name_of_the_Product,ET,Brand_Name
0,"8,499",Kadence Slowhand Premium Jumbo Semi Acoustic G...,"Thursday, 16 March",Kadence
1,"5,604",Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,"Saturday, 18 March",Kadence
2,"7,029",Kadence Frontier guitar with Online Guitar lea...,"Tuesday, 14 March",Kadence
3,"11,999",INTERN 40 inches Acoustic Guitar with Pick-up ...,"Wednesday, 15 March",INTERN
4,"6,499","Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","Tuesday, 14 March",Juârez

In [15]:
#save it in a data frame and csv
df.to_csv('guitar.csv')

# Question 3. 
Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’

In [16]:
import os
import selenium
from selenium import webdriver
import time
from PIL import Image
import io
import requests
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException     #Importing Exception
from selenium.common.exceptions import StaleElementReferenceException     #Importing Exception

In [17]:
#Let's first connect to web driver
driver = webdriver. Chrome (r"chromedriver.exe")
#Let's maximize the automated chrome window
driver.maximize_window()
#Opening up naukri.com website on automated chrome window
url = ('https://images.google.com/')
driver.get(url)

In [18]:
def search():
    Search_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
    search_input=str(input('Type here and I will get you there   ')) # take the user inpute
    Search_tag.send_keys(search_input)
    time.sleep(5)
    search=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div')
    search.click()
    #Scroll to the end of the page
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)#sleep_between_interactions

In [19]:
search()

Type here and I will get you there   Fruits

In [20]:
#Locate the images to be scraped from the current page 
imgResults = driver.find_elements(By.XPATH,'//img[@data-ils="4"]')
totalResults=len(imgResults)

In [21]:
totalResults

169

In [ ]:
img_urls = set()
for i in  range(0,len(imgResults)):
    img=imgResults[i]
    try:
        img.click()
        time.sleep(2)
        actual_images = driver.find_elements(By.CSS_SELECTOR,'img.n3VNCb')
        for actual_image in actual_images:
            if actual_image.get_attribute('src') and 'https' in actual_image.get_attribute('src'):
                img_urls.add(actual_image.get_attribute('src'))
    except ElementClickInterceptedException or ElementNotInteractableException as err:
        print(err)

In [26]:
from selenium.common.exceptions import TimeoutException
import urllib

In [23]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://images.google.com/')

In [24]:
Fruits=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
Fruits.send_keys('fruits')

In [42]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div')
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div"}
  (Session info: chrome=110.0.5481.178)
Stacktrace:
Backtrace:
	(No symbol) [0x00FD37D3]
	(No symbol) [0x00F68B81]
	(No symbol) [0x00E6B36D]
	(No symbol) [0x00E9D382]
	(No symbol) [0x00E9D4BB]
	(No symbol) [0x00ED3302]
	(No symbol) [0x00EBB464]
	(No symbol) [0x00ED1215]
	(No symbol) [0x00EBB216]
	(No symbol) [0x00E90D97]
	(No symbol) [0x00E9253D]
	GetHandleVerifier [0x0124ABF2+2510930]
	GetHandleVerifier [0x01278EC1+2700065]
	GetHandleVerifier [0x0127C86C+2714828]
	GetHandleVerifier [0x01083480+645344]
	(No symbol) [0x00F70FD2]
	(No symbol) [0x00F76C68]
	(No symbol) [0x00F76D4B]
	(No symbol) [0x00F80D6B]
	BaseThreadInitThunk [0x76636BD9+25]
	RtlGetFullPathName_UEx [0x77928FD2+1218]
	RtlGetFullPathName_UEx [0x77928F9D+1165]

In [27]:
import urllib

In [28]:
# Find the images.
fruits= driver.find_elements(By.XPATH,"/html/body/div[2]/c-wiz/div[3]/div[1]/div/div/div/div[1]/div[1]/span/div[1]/div[1]/div[1]/a[1]/div[1]/img")
# Access and store the scr list of image url's.
src = []
for fruit in fruits:
    src.append(fruit.get_attribute('src'))
src

[]

# Question 4
Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [30]:
driver = webdriver. Chrome (r"chromedriver.exe")
driver.maximize_window()
url="https://www.flipkart.com"
driver.get(url)

In [31]:
def Lat(x):
    search_bar=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
    search_bar.send_keys(x)
    search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
    search_btn.click()
    time.sleep(10)
    bn=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
    for i in  bn :
        name.append(i.text)
        BN.append(i.text.split(" ")[0])
        CL.append(i.text.split(",")[-2])
    time.sleep(10)
    n=driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]')
    for a in  n :
        hh.append(a.text)

In [32]:
name=[]
BN=[]
CL=[]
hh=[]

In [34]:
Lat('Oneplus Nord')

In [35]:
df= pd.DataFrame() # empty df
df['name'] = name[0:10]
df['BN']= BN[0:10]
df['CL']=CL[0:10]
df['hh']= hh[0:10]
df.head()

,name,BN,CL,hh
0,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",OnePlus,OnePlus Nord CE 2 Lite 5G (Blue Tide,6 GB RAM | 128 GB ROM\n16.74 cm (6.59 inch) Di...
1,"OnePlus 10R (Forest Green, 128 GB)",OnePlus,OnePlus 10R (Forest Green,8 GB RAM | 128 GB ROM\n17.02 cm (6.7 inch) Dis...
2,"OnePlus 10 Pro 5G (Emerald Forest, 256 GB)",OnePlus,OnePlus 10 Pro 5G (Emerald Forest,12 GB RAM | 256 GB ROM\n17.02 cm (6.7 inch) Di...
3,"OnePlus 10R 5G (Sierra Black, 256 GB)",OnePlus,OnePlus 10R 5G (Sierra Black,12 GB RAM | 256 GB ROM\n17.02 cm (6.7 inch) Di...
4,"OnePlus 10R 5G (Forest Green, 256 GB)",OnePlus,OnePlus 10R 5G (Forest Green,12 GB RAM | 256 GB ROM\n17.02 cm (6.7 inch) Di...

In [36]:
df.to_csv('mobiles.csv')

# Question 5.
Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [37]:
driver = webdriver. Chrome (r"chromedriver.exe")
#Let's maximize the automated chrome window
driver.maximize_window()
url="https://www.latlong.net/"
driver.get(url)

In [38]:
def Lat(x):
    place=driver.find_element(By.XPATH,'//*[@id="place"]')
    place.send_keys(x)
    find=driver.find_element(By.XPATH,'/html/body/main/div[2]/div[1]/form/button')
    find.click()

In [39]:
Lat('geospatial')

In [41]:
d = driver.find_element(By.XPATH, '//span[@id="latlngspan"]')
d.text

'(44.984241, -93.182266)'

# Question 6. 
Write a program to scrap all the available details of top 10 gaming laptops from digit.in.

In [48]:
# Let's load the drivers and URL
driver=webdriver.Chrome('Chromedriver.exe')
driver.maximize_window()
url="https://www.digit.in/top-products/best-gaming-laptops-40.html"
driver.get(url)

In [49]:
Brands              =[]
Products_Description=[]
Specification       =[]

In [50]:
brand=driver.find_elements(By.XPATH,'//div[@class="TopNumbeHeading"]')
for i in brand:
    Brands.append(str(i.text).replace("\n",""))
Brands

['1.MSI Titan GT77-12UHS',
 '2.Lenovo Legion 7',
 '3.Alienware X17 R2',
 '4.Acer Predator Triton 500 SE PT516-52s',
 '5.Omen By HP (16-B1371TX)',
 '6.Acer Predator Helios 300 AN515-45',
 '7.MSI Delta 15 (A5EFK-083IN)',
 '8.Omen By HP (16-C0141AX)',
 '9.Lenovo Legion 5i Pro (82RF00MGIN)',
 '10.Alienware M15 R5 Ryzen Edition Icc-C780001win']

In [51]:
specification_tag=driver.find_elements(By.XPATH,"//div[@class='Specs-Wrap']")
for i in specification_tag:
    Specification.append(str(i.text).replace("\n",""))
Specification

['Windows 11 Home OS17.3" (3840 x 2160) Display12th Gen Intel Core i9-12900HX | NA Processor2 TB SSD/64 GB DDR5 Memory',
 'Windows 11 Home OS16" (2560 x 1600) Display12th Gen Intel Core i9-12900HX | 2.3 GHz Processor1 TB SSD/32 GB DDR4 Memory',
 'Windows 11 Home OS17.3" (1920 x 1080) Display12th Gen Intel Core i9-12900H | 5 GHz Processor1 TB SSD/32 GB DDR5 Memory',
 'Windows 11 OS16" (2560 x 1600) Display12th Gen Intel Core i7-12700H | 3.5 GHz Processor2 TB SSD/32 GB DDR5 Memory',
 'Windows 11 Home OS16.1" (2560 x 1440) Display12th Gen Intel Core i7-12700H | 4.7 GHz Processor1 TB SSD/8 GB DDR5 Memory',
 'Windows 11 Home OS15.6" (2560 x 1440) DisplayAMD Ryzen 9-5900HX | NA Processor512 GB SSD/16 GB DDR4 Memory',
 'Windows 11 Home OS15.6" (1920 x 1080) DisplayAMD 5th Gen Ryzen 9-5900HX | 3.3 GHz Processor1 TB SSD/16 GB DDR4 Memory',
 'Windows 11 Home OS16.1" (2560 x 1440) DisplayAMD Ryzen™ 9 5900HX | 3.3 GHz Processor1 TB NVMe/16 GB DDR4 Memory',
 'Windows 11 Home OS16" (2560 x 1600) Display12th Gen Intel Core i7-12700H | 2.3 GHz Processor1 TB SSD/16 GB DDR5 Memory',
 'Windows 11 Home OS15.6" (1920 x 1080) DisplayAMD Ryzen R7-5800H | 4.40 GHz Processor512 GB SSD/16 GB DDR4 Memory']

In [52]:
description=driver.find_elements(By.XPATH,"//div[@class='Section-center']")
for i in description:
    Products_Description.append(str(i.text).replace("\n",""))
Products_Description

['The very best MSI gaming laptop featuring an Intel processor is the MSI TITAN GT77 - 12UHS. This is the top of the line model from MSI’s recent refresh of their entire gaming lineup and is powered by the Intel Core i9-12900HX which is a 16 Core (8P+8E) processor that has 24 threads and a maximum Turbo power of 157 Watts. The graphics card in this laptop is the NVIDIA RTX 3080 Ti and it too sports a high TGP of 175 Watts. This is one of the most powerful CPU+GPU combinations with plenty of thermal headroom to allow it to operate at higher clock speeds for longer time periods. As for the memory, the MSI GT77-12UHS can have up to 128 GB of DDR5 memory but ships with 64 GB DDR5 clocked at 4800 MT/s. Being a 12th Gen machine also means that the motherboard has PCIe Gen 5.0 lanes for storage devices such as M.2 SSDs. The GT77-12UHS has four M.2 slots of which one slot is PCIe Gen 5 whereas the remaining three are PCIe Gen 4 slots. Then there’s also the display, the GT77-12UHS features a massive 17.3-inch IPS-level 4K panel with a 120 Hz refresh rate. So you can actually enjoy all the high frame-rate gameplay that the powerful hardware enables. And the cherry on the cake? A built-in mechanical keyboard with Cherry MX switches. All this hardware comes at a ridiculous price of INR 5,26,990. As of now, this is at the top among the best performing gaming laptops in the world. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i9-12900HX 16 core processorDisplay : 17.3″ (3840 x 2160) screen, 120 Hz refresh rateOS : Windows 11 HomeMemory : 64 GB DDR5 RAM & 2 TB SSDGraphics Processor : 16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics cardBody : 397 x 330 x 23 mm dimension & 3.3 kg weight',
 'The second Intel Core i9 laptop on our list is from the famous Legion lineup - the Lenovo Legion 7. It is a gaming laptop packed with crazy features and comes with a heavy price tag. Talking about the display panel, it has a 16 inch QHD IPS panel with 500 nits of brightness and 165Hz of screen refresh rate. Along with this, the panel is also 100% sRGB which basically means accurate colour reproduction. The Lenovo Legion 7 is powered by an Intel Core i9 12900HX processor with a max clock speed of 5.0GHz clock speed, 16GB RAM that can be extended up to 32GB, 1TB SSD and 16GB of dedicated NVIDIA RTX 3080 Ti GDDR6 graphics card. The laptop has a battery life of up to 8 hours and also supports Rapid Charge Pro that can charge the laptop up to 70 percent in just 30 minutes. This laptop has a full size 4-zone RGB LED backlit keyboard with 100% anti-ghosting support and 1.5mm key travel distance. The laptop weighs 2.5 kg and it comes with a physical kill switch for the webcam. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i9-12900HX 16 core processor with 2.3 GHz clock speedDisplay : 16″ (2560 x 1600) screen, 165 Hz refresh rateOS : Windows 11 HomeMemory : 32 GB DDR4 RAM & 1 TB SSDGraphics Processor : 16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics cardBody : 358 x 264 x 19 mm dimension & 2.53 kg weightPrice : ₹ 359,990AVAILABLE ₹ 359,990BUY NOW',
 'Alienware, the premium gaming brand from Dell has its own reputation for building some of the meanest gaming machines for more than two decades. The best Alienware gaming laptop featuring an Intel processor is the Alienware x17 R2. This thing packs an Intel Core i9-12900HK which is a 14-Core (6P+8E) processor which has 20 Threads. The lower P-Core count helps it hit slightly higher clock speeds but the Max Turbo power is capped at 115W which is less than what the MSI GT77 sports. As for the graphics card, the Alienware x17 R2 also sports an NVIDIA RTX 3080 Ti with the peak TGP set to 175 Watts. The CPU+GPU combination of the Alienware x17 R2 comes close to the MSI GT77. As for the memory, the Alienware x17 R2 ships with 32 GB of DDR5 RAM clocked at 4800 MT/s. The display on the x17 R2 is a 17.3-inch FHD 360 Hz panel compared to the 120 Hz 4K panel on the MSI GT77. You’ll end up seeing higher frame rates on the Alienware x17 R2 without any tearing whereas you’ll see crisper visuals at high frame rates on the MSI GT77. Both make for great experiences. This configuration of the Dell Alienware x17 R2 goes for INR 3,89,990 making it a good gaming laptop to buy in 2022. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i9-12900H 14 core processor with 5 GHz clock speedDisplay : 17.3″ (1920 x 1080) screen, 360 Hz refresh rateOS : Windows 11 HomeMemory : 32 GB DDR5 RAM & 1 TB SSDGraphics Processor : 16 GB DDR6 NVIDIA GEFORCE RTX 3080 Ti Graphics cardBody : 299 x 359 x 21 mm dimension & 2.96 kg weightPrice : ₹ 389,990',
 'The Predator lineup from Acer has shown great promise for gamers ever since they showcased the Predator 21X a couple of years ago. Keeping its legacy intact and also being the best Acer gaming laptop featuring an Intel processor is the Acer Predator Triton 500 SE. This machine is powered by an Intel Core i7-12700H which is a 14-Core (6P+8E) processor with 20 Threads. And the graphics card in this machine is the NVIDIA RTX 3070 Ti. The TGP isn’t specified but the RTX 3070 Ti generally ships with a TGP of between 105 to 150 Watts. For the memory, it has 32 GB of LPDDR5 memory clocked at 4800 MT/s and the display is a 16-inch 2560x1600 IPS panel sporting a 240 Hz refresh rate. Acer makes some intelligent decisions with the hardware by picking a Core i7 processor and pairing it with a high-end RTX 3070 Ti. The power backup in this machine is a 4-Cell 99 Wh Li-ion battery which is the highest that you can get in a laptop legally for it to be carried on aeroplanes. And if we are to talk about the networking then the Acer Predator Triton 500 SE comes with Killer Wi-Fi 6E 1675s and Gigabit Ethernet. This laptop gives you great gaming performance that comes close to machines that cost twice as much. Speaking of price, the Acer Predator Triton 500 SE PT516-52s is priced at INR 2,29,999 in India. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i7-12700H 14 core processor with 3.5 GHz clock speedDisplay : 16″ (2560 x 1600) screenOS : Windows 11Memory : 32 GB DDR5 RAM & 2 TB SSDGraphics Processor : 8 GB DDR6 NVIDIA GeForce RTX 3070 Ti Graphics cardBody : 262 x 359 x 20 mm dimension & 2.4 kg weightPrice : ₹ 229,990AVAILABLE ₹ 229,990BUY NOW',
 'Omen by HP is a premium gaming lineup which is right up there with their Victus gaming laptops. The best HP gaming laptop with an Intel processor is the Omen by HP (16-B1371TX). Like the Acer Predator, this too is powered by the Intel Core i7-12700H which is a 14-Core (6P+8E) processor with 20 Threads. And the graphics card in this machine is the NVIDIA RTX 3070 Ti. Even the memory is a similar configuration with 32 GB of DDR5 RAM rated for 4800 MT/s. One of the great things about the Omen laptops is that the audio setup is powered by Bang&Olufsen for some really great-sounding audio. For the display, the Omen by HP (16-B1371TX) sports a 16.1-inch 165 Hz 2560x1440 IPS panel that is the best of both worlds, resolution and refresh rate. Moreover, it is also NVIDIA G-Sync certified. The keyboard on the HP Omen (16-B1371TX) features a 4-zone RGB backlighting that adds a bit of pizazz to the overall aesthetic. In a way, the HP Omen (16-B1371TX) checks all the boxes and it does so with a price tag of INR 1,82,999 in India. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i7-12700H 14 core processor with 4.7 GHz clock speedDisplay : 16.1″ (2560 x 1440) screenOS : Windows 11 HomeMemory : 8 GB DDR5 RAM & 1 TB SSDGraphics Processor : 8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics cardBody : 369 x 248 x 23 mm dimension & 2.32 kg weightPrice : ₹ 177,590AVAILABLE ₹ 177,590BUY NOW',
 'Acer Predator Helios 300 AN515-45 is the best Acer gaming laptop featuring an AMD processor. It is powered by the AMD Ryzen 9 5900HX which is an 8 Core processor that gives you 16 Threads. AMD’s Ryzen 5000 series processors have broken performance records and set new benchmarks and this is the best mobile processor of the entire series. Acer has paired this with the NVIDIA RTX 3070. Together, the two make for a great combination for gaming. On the memory front, there’s 16 GB of DDR4 RAM clocked at 3200 MT/s. The display on the Acer Predator Helios 300 is a 15.6-inch 2560x1440 IPS panel that is tuned for a refresh rate of 165 Hz. Acer also packs Killer E2600 Ethernet in the Predator Helios 300 for folks who’d like to tweak their network prioritisation settings. The TGP for the RTX 3070 has not been mentioned here but a high TGP RTX 3070 can even best a low TGP RTX 3070 Ti, so there might be a few surprises there. For all these features, the Acer Predator Helios 300 carries a price tag of INR 1,39,990 in India. ...Read MoreMORE SPECIFICATIONSProcessor : AMD Ryzen 9-5900HX 8 core processorDisplay : 15.6″ (2560 x 1440) screen, 165 Hz refresh rateOS : Windows 11 HomeMemory : 16 GB DDR4 RAM & 512 GB SSDGraphics Processor : 8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics cardBody : 363 x 255 x 23.9 mm dimension & 2.4 kg weightPrice : ₹ 172,999',
 "The best MSI gaming laptop with an AMD processor is the MSI Delta 15 A5EFK-083IN. It features the top of the line AMD Ryzen 9 5900 HX which is a great 8-Core / 16-Thread processor for gaming and for the graphics card it has an AMD Radeon RX 6700M. The Radeon RX 6000 series graphics cards are well known for their power efficiency thanks to the efficient 7nm process on which the Radeon RX 6000 GPUs are built on. The RX 6700M, in particular, is a great high-end graphics card and can best even an RTX 3070 considering the TGP ranges of the GPUs. For the memory, the MSI Delta 15 comes with 16 GB of dual-channel DDR4 RAM clocked at 3200 MT/s. Coming to the display, the MSI Delta 15 sports a 15.6-inch FHD IPS-level 240 Hz panel that's geared to take advantage of AMD FreeSync. Even the backup is great with an 82 Wh 4-Cell Li-Ion battery. The keyboard on the Delta 15 is backlit and there's always the MSI Dragon Centre management software to help optimise the way you use the laptop. The MSI Delta 15 A5EFK-083IN retails for INR 1,14,990 in India. ...Read MoreMORE SPECIFICATIONSProcessor : AMD 5th Gen Ryzen 9-5900HX 8 core processor with 3.3 GHz clock speedDisplay : 15.6″ (1920 x 1080) screen, 240Hz refresh rateOS : Windows 11 HomeMemory : 16 GB DDR4 RAM & 1 TB SSDGraphics Processor : 10 GB DDR6 AMD Radeon RX 6700M Graphics cardBody : 357 x 247 x 19 mm dimension & 1.9 kg weightPrice : ₹ 188,990",
 "Another worthy gaming laptop from the Omen lineup from HP is the 16-c0141AX. In fact, it's also the best HP gaming laptop with an AMD Processor. This unit also features the best AMD mobile processor which is the AMD Ryzen 9 5900 HX, an 8-Core / 16-Thread flagship CPU that can make mincemeat of all current AAA video games. And for the graphics, HP has included the AMD Radeon RX 6600M which is very power efficient like most GPUs in the RX 6000 series and often performs better than the NVIDIA RTX 3060. Aside from these there’s 16 GB of DDR4 RAM, and for the display, the Omen by HP (16-c0141AX) has a 16.1-inch 2560x1440 IPS panel and it even has a high refresh rate of 165 Hz. HP introduced the OMEN Tempest Cooling technology for their laptops to improve their cooling. Like other Omen laptops, this model also has an audio solution powered by Bang&Olufsen which is a well-known premium audio brand. The Omen by HP (16-c0141AX) retails for INR 1,34,999 in India. ...Read MoreMORE SPECIFICATIONSProcessor : AMD Ryzen™ 9 5900HX 8 core processor with 3.3 GHz clock speedDisplay : 16.1″ (2560 x 1440) screenOS : Windows 11 HomeMemory : 16 GB DDR4 RAM & 1 TB NVMeGraphics Processor : 8 GB GDDR6 AMD Radeon™ RX 6600M Graphics cardBody : 36.92 x 24.8 x 2.3 mm dimension & 2.3 kg weightPrice : ₹ 124,990AVAILABLE ₹ 124,990BUY NOWSee more offer detailssee more prices",
 'Lenovo has gone a little mainstream with their gaming laptops and the best Lenovo gaming laptop featuring an Intel processor happens to be the Lenovo Legion 5i Pro (82RF00MGIN). It features the powerful Intel Core i7-12700H which is a 14-Core (6P+8E) processor with 20 Threads. There’s 16 GB of DDR5 RAM rated for 4800 MT/s and the graphics card is the NVIDIA RTX 3060. There’s no mention of the TGP of the card on the official spec sheets. Lenovo offers a 16-inch 2560x1600 IPS panel on the Lenovo Legion 5i Pro and it also has a refresh rate of 165 Hz. While most of the specs might seem a little tame compared to the top laptop on this page, the battery is where Lenovo doesn’t hold back any punches. This machine features an 80 Wh 4-Cell battery which is pretty high among gaming laptops. Then there’s the audio setup which is enhanced by Nahimic’s AI-based audio solution for different sound profiles and some of the features can improve your gaming experience. The Lenovo Legion 5i Pro (82RF00MGIN) is priced at INR 1,64,990 in India. ...Read MoreMORE SPECIFICATIONSProcessor : 12th Gen Intel Core i7-12700H 14 core processor with 2.3 GHz clock speedDisplay : 16″ (2560 x 1600) screen, 165 Hz refresh rateOS : Windows 11 HomeMemory : 16 GB DDR5 RAM & 1 TB SSDGraphics Processor : 6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics cardBody : 360 x 264 x 20 mm dimension & 2.49 kg weightPrice : ₹ 164,990AVAILABLE ₹ 164,990BUY NOW',
 'Dell not only has gaming laptops under the Dell Gaming brand but also under the Alienware brand. Together, both of them make up for a diverse set of configurations featuring the best hardware that money can buy. If you’re looking for the best Alienware gaming laptop with an AMD processor then the aptly named Alienware m15 R5 Ryzen Edition should be first on your list. This machine features the AMD Ryzen 7 5800H which is an 8-Core / 16-Thread CPU and for the graphics bit, it has an NVIDIA RTX 3060. Being an Alienware machine, you can safely assume that the TGP on the RTX 3060 will be scaled to its maximum allowed limits. As for the networking bit, the Alienware m15 R5 Ryzen Edition comes with Killer Wireless Wi-Fi 6E (1650) which is a top-tier Wi-Fi card that allows you to prioritise networking traffic so that your online gaming experience remains unhampered. As for the display, the Alienware m15 R5 Ryzen Edition comes with a 15.6-inch FHD panel tweaked for a refresh rate of 165 Hz. The Alienware m15 R5 Ryzen Edition retails for INR 1,44,989 in India. ...Read MoreMORE SPECIFICATIONSProcessor : AMD Ryzen R7-5800H 8 core processor with 4.40 GHz clock speedDisplay : 15.6″ (1920 x 1080) screen, 165Hz refresh rateOS : Windows 11 HomeMemory : 16 GB DDR4 RAM & 512 GB SSDGraphics Processor : 6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics cardBody : 356.2 x 272.5 x 22.85 mm dimension & 2.69 kg weightPrice : ₹ 174,000AVAILABLE ₹ 174,000BUY NOW']

In [53]:
Price=[]
price_tag=driver.find_elements(By.PARTIAL_LINK_TEXT,"₹ ")
for i in price_tag:
    Price.append(str(i.text).replace("\n","").replace('₹ ',''))
Price

['359,990BUY NOW',
 'AVAILABLE 359,990BUY NOW',
 '389,990BUY NOW',
 '229,990BUY NOW',
 'AVAILABLE 229,990BUY NOW',
 '177,590BUY NOW',
 'AVAILABLE 177,590BUY NOW',
 '124,990BUY NOW',
 'AVAILABLE 124,990BUY NOW',
 '164,990BUY NOW',
 'AVAILABLE 164,990BUY NOW',
 '174,000BUY NOW',
 'AVAILABLE 174,000BUY NOW']

In [54]:
laptop=pd.DataFrame()
laptop['Brands']=Brands[0:9]
laptop['Price']=Price[0:9]
laptop['Specification']=Specification[0:9]
laptop['Description']=Products_Description[0:9]

In [55]:
laptop

,Brands,Price,Specification,Description
0,1.MSI Titan GT77-12UHS,"359,990BUY NOW","Windows 11 Home OS17.3"" (3840 x 2160) Display1...",The very best MSI gaming laptop featuring an I...
1,2.Lenovo Legion 7,"AVAILABLE 359,990BUY NOW","Windows 11 Home OS16"" (2560 x 1600) Display12t...",The second Intel Core i9 laptop on our list is...
2,3.Alienware X17 R2,"389,990BUY NOW","Windows 11 Home OS17.3"" (1920 x 1080) Display1...","Alienware, the premium gaming brand from Dell ..."
3,4.Acer Predator Triton 500 SE PT516-52s,"229,990BUY NOW","Windows 11 OS16"" (2560 x 1600) Display12th Gen...",The Predator lineup from Acer has shown great ...
4,5.Omen By HP (16-B1371TX),"AVAILABLE 229,990BUY NOW","Windows 11 Home OS16.1"" (2560 x 1440) Display1...",Omen by HP is a premium gaming lineup which is...
5,6.Acer Predator Helios 300 AN515-45,"177,590BUY NOW","Windows 11 Home OS15.6"" (2560 x 1440) DisplayA...",Acer Predator Helios 300 AN515-45 is the best ...
6,7.MSI Delta 15 (A5EFK-083IN),"AVAILABLE 177,590BUY NOW","Windows 11 Home OS15.6"" (1920 x 1080) DisplayA...",The best MSI gaming laptop with an AMD process...
7,8.Omen By HP (16-C0141AX),"124,990BUY NOW","Windows 11 Home OS16.1"" (2560 x 1440) DisplayA...",Another worthy gaming laptop from the Omen lin...
8,9.Lenovo Legion 5i Pro (82RF00MGIN),"AVAILABLE 124,990BUY NOW","Windows 11 Home OS16"" (2560 x 1600) Display12t...",Lenovo has gone a little mainstream with their...

# Question 8.

Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [56]:
driver = webdriver. Chrome (r"Chromedriver.exe")
#Let's maximize the automated chrome window
driver.maximize_window()
url="https://www.forbes.com/billionaires/"
driver.get(url)

In [57]:
Name=[]
Rank=[]
Net_worth=[]
Citizenship=[]

In [58]:
name_tag=driver.find_elements(By.XPATH,'//div[@class="personName"]/div[1]')
for x in name_tag:
    Name.append(x.text)
    
net=driver.find_elements(By.XPATH,'//div[@class="netWorth"]/div[1]')
for x in net:
    Net_worth.append(x.text.replace('B',' Billion Dollers').replace('$',''))

citizenship=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
for x in citizenship:
    Citizenship.append(x.text)
    
Source=[]
source=driver.find_elements(By.XPATH,'//div[@class="expand-row__icon-container"]/span[1]')
for x in source:
    Source.append(x.text)
    
rank_tag=driver.find_elements(By.XPATH,'//div[@class="rank"]')
for x in rank_tag:
    Rank.append(x.text.replace('.',''))
    
billionaires=pd.DataFrame()
billionaires['Rank']=Rank
billionaires['Name']=Name
billionaires['Net Worth']=Net_worth
billionaires['Citizenship/Country']=Citizenship
billionaires['Source']=Source

In [60]:
billionaires

,Rank,Name,Net Worth,Citizenship/Country,Source
0,1,Elon Musk,219 Billion Dollers,United States,"Tesla, SpaceX"
1,2,Jeff Bezos,171 Billion Dollers,United States,Amazon
2,3,Bernard Arnault & family,158 Billion Dollers,France,LVMH
3,4,Bill Gates,129 Billion Dollers,United States,Microsoft
4,5,Warren Buffett,118 Billion Dollers,United States,Berkshire Hathaway
...,...,...,...,...,...
195,192,Marcel Herrmann Telles,10.3 Billion Dollers,Brazil,beer
196,197,Leon Black,10 Billion Dollers,United States,private equity
197,197,Joe Gebbia,10 Billion Dollers,United States,Airbnb
198,197,David Geffen,10 Billion Dollers,United States,"movies, record labels"
199,197,Yu Renrong,10 Billion Dollers,China,semiconductors

# Question 8.

Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video

In [75]:
driver = webdriver. Chrome (r"Chromedriver.exe")
#Let's maximize the automated chrome window
driver.maximize_window()
url="https://www.youtube.com/watch?v=7S_tz1z_5bAY"
driver.get(url)

In [76]:
driver.maximize_window()
url="https://www.youtube.com/watch?v=7S_tz1z_5bA"
driver.get(url)

In [80]:
comments=[]
comment=driver.find_elements(By.XPATH,'//yt-formatted-string[@class="style-scope ytd-comment-renderer"]')
for x in comment:
    comments.append(x.text)
print(len(comments),comments)

20 [' Want to master MySQL? Get the full MySQL course: http://bit.ly/2uAoPM3\n Subscribe for more SQL tutorials like this: https://goo.gl/6PYaGF', 'There are no dummies , there are only bad teachers. After taking many udemy courses trying to master SQL without any progress, I finally understand SQL. You are a great teacher.', 'Exercises:\n\n-- -- -- The SELECT Statement\n36:49 The SELECT Clause', "The feeling when you finish all of this in just 4 days is unbelievable. Thank you mosh for stepping out your comfort zone and giving us free valuable lectures that'd may be cost us a lot of money if we were to take from other courses online.", 'I first learned SQL from you a couple of years ago, now I hold two jobs utilizing the skills I learned here. Thank you for giving me an amazing career!', 'Probably the best crash courses I’ve ever taken. The pace and material is just so easy to understand. Thank you so much Mosh!', 'Thanks Mosh! Your channel has quickly accelerated my career towards a position of Data Scientist. Currently employed with a major global employer as a Data Analyst and interviewing next week for a Data Scientist position. Thank you for all that you do!', 'Note to everyone: If the tables is stuck at fetching, just restart the MySQL application and it should fix the infinite queuing.', 'The tutorials are truly simple to understand and taught in a very beginner-friendly way. Thank you, Mosh! I love your channel!', 'I wanna say thanks to your tutorials that I found my baby steps to both Python and MySQL studying. Really much appreciated! <3', "Hey Mosh, i wanna thank you for your effort in these videos, i'm working full time while doing also a full time study software developer in my free time, i have to teach myself with books i got from the school, but as a beginner it seemed so difficult and impossible to do. i'm watching your videos beside my books and it all becomes a lot easier, i even decided to buy your courses, i hope to graduate in 2 years and finally work at a job that i really like, thank you again for the help  :)", 'The course is AMAZING ! One thing I really wish was demonstrated however, is the full creation of the databases. I know there was a sheet sheet provided but I am really interested in the why each command was written. I would have loved to see you manually create each database and explaining what you are typing as you are writing the script. You have an amazing way of explaining things and thus far this has been the best video i have watched', 'Wonderful! I was watching in the past many different online Tutorials but way how you present the things and how you are going step by step making sure that all is understandable is just amazing. You deserved all subscribers that you have!', "Hi Mosh, I barely write comments in any social web. I am too lazy to do that. But you made me to write something. I found your teaching style is just awesome and second to none. I tried so many paid and free web, videos an ebooks, text books but  your one was not boring and I couldn't stop watching. It was concise and precisely tells everything. I finished your tutorial/video about Python and MySQL, both are really awesome. I strongly believe you born as excellent teacher and many of us would like you to see you more successful in online teaching in web such as Udemy, edx or such. Please make structured course with challenges and course material that we can be more benefitted. Many of us wouldn't mind to pay for your professional and enjoying teaching effort at all. Please keep it up. I personally would like you to request make a complete course in Data science. Thank you so much.", "Following along and my god, you're one gifted teacher. Thank you so much mate and may god bless you for helping all of us!!!\n\nSidenote: I am absolutely bussing because I was able to nail the second exercise (WHERE clause) after absolutely making a mess out of the first one (SELECT)", 'This is a great tutorial. The speed and way you explain is great. Thank you Mosh! I appreciate the time and effort you took to create this.', 'Thank you for providing such a great tutorial. This really helps me as I am an aspiring software developer and hoping to shift careers once I learned all the basics from your videos.', "I'm still not confident with the basics, but this was a good foundation. I really like the way this was delivered. I liked the exercises as well", 'I understood more in 3 hours from your video than from 16 lectures in university. Thank you sir!', 'The course is very well structered and this shows the efforts you put in. You are a magnificent teacher Mosh!']

In [81]:
upvote=[]
vote=driver.find_elements(By.XPATH,'//span[@class="style-scope ytd-comment-action-buttons-renderer"]')
for x in vote:
    upvote.append(x.text)
print(len(upvote),upvote)

40 ['', '192', '', '1.4K', '', '78', '', '334', '', '24', '', '10', '', '19', '', '1.4K', '', '20', '', '8', '', '3', '', '152', '', '2', '', '26', '', '', '', '16', '', '1', '', '2', '', '155', '', '6']

In [82]:
time=[]
tm=driver.find_elements(By.XPATH,'//a[@dir="auto"]')
for x in tm:
    time.append(x.text)
print(len(time),time)

39 ['', '', 'Programming with Mosh', 'Back-end Development', '', '', '1 year ago', 'http://bit.ly/2uAoPM3', 'https://goo.gl/6PYaGF', '2 years ago', '4 months ago (edited)', '36:49', '', '', '', '', '', '', '', '', '', '', '1 year ago', '1 month ago', '3 months ago', '7 months ago', '2 years ago', '11 months ago', '4 months ago', '11 days ago', '1 year ago', '1 month ago', '3 years ago', '7 days ago', '11 months ago', '3 weeks ago', '1 month ago', '3 years ago (edited)', '1 year ago']

In [83]:
for i in range(0,40):
    if i%2==0:
        time.insert(i,'-')
    else:
        continue

In [84]:
print(len(time),time)

59 ['-', '', '-', '', '-', 'Programming with Mosh', '-', 'Back-end Development', '-', '', '-', '', '-', '1 year ago', '-', 'http://bit.ly/2uAoPM3', '-', 'https://goo.gl/6PYaGF', '-', '2 years ago', '-', '4 months ago (edited)', '-', '36:49', '-', '', '-', '', '-', '', '-', '', '-', '', '-', '', '-', '', '-', '', '', '', '1 year ago', '1 month ago', '3 months ago', '7 months ago', '2 years ago', '11 months ago', '4 months ago', '11 days ago', '1 year ago', '1 month ago', '3 years ago', '7 days ago', '11 months ago', '3 weeks ago', '1 month ago', '3 years ago (edited)', '1 year ago']

In [86]:
df=pd.DataFrame()
df['Comments']=comments[0:20]
df['Up Vote']=upvote[0:20]
df['Time of Comments']=time[0:20]
df

,Comments,Up Vote,Time of Comments
0,Want to master MySQL? Get the full MySQL cour...,,-
1,"There are no dummies , there are only bad teac...",192,
2,Exercises:\n\n-- -- -- The SELECT Statement\n3...,,-
3,The feeling when you finish all of this in jus...,1.4K,
4,I first learned SQL from you a couple of years...,,-
5,Probably the best crash courses I’ve ever take...,78,Programming with Mosh
6,Thanks Mosh! Your channel has quickly accelera...,,-
7,Note to everyone: If the tables is stuck at fe...,334,Back-end Development
8,The tutorials are truly simple to understand a...,,-
9,I wanna say thanks to your tutorials that I fo...,24,
10,"Hey Mosh, i wanna thank you for your effort in...",,-
11,The course is AMAZING ! One thing I really wis...,10,
12,Wonderful! I was watching in the past many dif...,,-
13,"Hi Mosh, I barely write comments in any social...",19,1 year ago
14,"Following along and my god, you're one gifted ...",,-
15,This is a great tutorial. The speed and way yo...,1.4K,http://bit.ly/2uAoPM3
16,Thank you for providing such a great tutorial....,,-
17,"I'm still not confident with the basics, but t...",20,https://goo.gl/6PYaGF
18,I understood more in 3 hours from your video t...,,-
19,The course is very well structered and this sh...,8,2 years ago

# Question 10 .
 Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description

In [87]:
driver = webdriver. Chrome (r"Chromedriver.exe")
#Let's maximize the automated chrome window
driver.maximize_window()
url="https://www.hostelworld.com/s?q=London,%20England&city=London&country=England&type=city&id=3&from=2022-05-24&to=2022-05-27&guests=2&page=1"
driver.get(url)

In [88]:
hotel_name=[]
name=driver.find_elements(By.XPATH,'//h2[@class="title title-6"]/a[1]')
for x in name:
    hotel_name.append(x.text)
print(len(hotel_name),hotel_name)

30 ["Wombat's City Hostel London", 'Astor Hyde Park', "St Christopher's Village", 'Hostel One Notting Hill', 'Generator London', 'Smart Hyde Park Inn Hostel', 'NX London Hostel', 'Pickwick Hall', 'Safestay London Elephant & Castle', 'Smart Russell Square Hostel', 'Urbany Hostel London', 'Astor Museum Inn', 'Destinations Hostels @ The Gallery', 'Safestay London Kensington Holland Park', 'Phoenix Hostel', 'Dover Castle Hostel and Bar', 'Astor Victoria', "St Christopher's Hammersmith", 'Smart Camden Inn Hostel', 'Prime Backpackers Angel', 'YHA London Oxford Street', 'Barmy Badger Backpackers', 'London Backpackers', 'Clink261', "St Christopher's Inn - London Bridge", "St Christopher's Inn - Liverpool Street", 'Smart Hyde Park View Hostel', 'PubLove @ The Steam Engine, Waterloo', 'Astor Kensington', "St Christopher's Greenwich"]

In [89]:
distance=[]
dis=driver.find_elements(By.XPATH,'//span[@class="description"]')
for x in dis:
    distance.append(x.text)
print(len(distance),distance)

30 ['Hostel - 3.6km from city centre', 'Hostel - 4.3km from city centre', 'Hostel - 1.8km from city centre', 'Hostel - 5.5km from city centre', 'Hostel - 3km from city centre', 'Hostel - 5km from city centre', 'Hostel - 6.1km from city centre', 'Hostel - 2.3km from city centre', 'Hostel - 1.7km from city centre', 'Hostel - 2.6km from city centre', 'Hostel - 5.4km from city centre', 'Hostel - 2.2km from city centre', 'Hostel - 1.7km from city centre', 'Hostel - 5.8km from city centre', 'Hostel - 4.2km from city centre', 'Hostel - 1.7km from city centre', 'Hostel - 1.8km from city centre', 'Hostel - 7.5km from city centre', 'Hostel - 4.4km from city centre', 'Hostel - 3.6km from city centre', 'Hostel - 2.1km from city centre', 'Hostel - 5.5km from city centre', 'Hostel - 11.9km from city centre', 'Hostel - 3.2km from city centre', 'Hostel - 1.8km from city centre', 'Hostel - 3.2km from city centre', 'Hostel - 4.8km from city centre', 'Hostel - 0.5km from city centre', 'Hostel - 4.9km from city centre', 'Hostel - 7.6km from city centre']

In [90]:
ratings=[]
rate=driver.find_elements(By.XPATH,'//div[@class="score orange big"]')
for x in rate:
    ratings.append(x.text)
print(len(ratings),ratings)

30 ['8.9', '8.9', '7.8', '9.4', '7.4', '7.4', '8.0', '8.8', '7.4', '7.4', '9.1', '8.4', '9.4', '7.2', '7.2', '8.0', '7.7', '7.6', '8.0', '8.1', '9.0', '8.9', '7.6', '8.3', '7.4', '8.0', '8.0', '8.0', '8.0', '7.0']

In [91]:
reviews=[]
review=driver.find_elements(By.XPATH,'//div[@class="reviews"]')
for x in review:
    reviews.append(x.text)
print(len(reviews),reviews)

30 ['14642 Total Reviews', '11934 Total Reviews', '11986 Total Reviews', '1833 Total Reviews', '7391 Total Reviews', '6535 Total Reviews', '1730 Total Reviews', '2582 Total Reviews', '4865 Total Reviews', '9930 Total Reviews', '689 Total Reviews', '9191 Total Reviews', '120 Total Reviews', '1455 Total Reviews', '4003 Total Reviews', '2355 Total Reviews', '14919 Total Reviews', '4211 Total Reviews', '3041 Total Reviews', '715 Total Reviews', '4621 Total Reviews', '1895 Total Reviews', '4424 Total Reviews', '205 Total Reviews', '3465 Total Reviews', '482 Total Reviews', '4678 Total Reviews', '377 Total Reviews', '6471 Total Reviews', '3323 Total Reviews']

In [92]:
df=pd.DataFrame()
df['Hostel_Name']=hotel_name[0:28]
df['distance from city centre']=distance[0:28]
df['Ratings']=ratings[0:28]
df['Reviews']=reviews[0:28]

In [93]:
df

,Hostel_Name,distance from city centre,Ratings,Reviews
0,Wombat's City Hostel London,Hostel - 3.6km from city centre,8.9,14642 Total Reviews
1,Astor Hyde Park,Hostel - 4.3km from city centre,8.9,11934 Total Reviews
2,St Christopher's Village,Hostel - 1.8km from city centre,7.8,11986 Total Reviews
3,Hostel One Notting Hill,Hostel - 5.5km from city centre,9.4,1833 Total Reviews
4,Generator London,Hostel - 3km from city centre,7.4,7391 Total Reviews
5,Smart Hyde Park Inn Hostel,Hostel - 5km from city centre,7.4,6535 Total Reviews
6,NX London Hostel,Hostel - 6.1km from city centre,8.0,1730 Total Reviews
7,Pickwick Hall,Hostel - 2.3km from city centre,8.8,2582 Total Reviews
8,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,7.4,4865 Total Reviews
9,Smart Russell Square Hostel,Hostel - 2.6km from city centre,7.4,9930 Total Reviews
10,Urbany Hostel London,Hostel - 5.4km from city centre,9.1,689 Total Reviews
11,Astor Museum Inn,Hostel - 2.2km from city centre,8.4,9191 Total Reviews
12,Destinations Hostels @ The Gallery,Hostel - 1.7km from city centre,9.4,120 Total Reviews
13,Safestay London Kensington Holland Park,Hostel - 5.8km from city centre,7.2,1455 Total Reviews
14,Phoenix Hostel,Hostel - 4.2km from city centre,7.2,4003 Total Reviews
15,Dover Castle Hostel and Bar,Hostel - 1.7km from city centre,8.0,2355 Total Reviews
16,Astor Victoria,Hostel - 1.8km from city centre,7.7,14919 Total Reviews
17,St Christopher's Hammersmith,Hostel - 7.5km from city centre,7.6,4211 Total Reviews
18,Smart Camden Inn Hostel,Hostel - 4.4km from city centre,8.0,3041 Total Reviews
19,Prime Backpackers Angel,Hostel - 3.6km from city centre,8.1,715 Total Reviews
20,YHA London Oxford Street,Hostel - 2.1km from city centre,9.0,4621 Total Reviews
21,Barmy Badger Backpackers,Hostel - 5.5km from city centre,8.9,1895 Total Reviews
22,London Backpackers,Hostel - 11.9km from city centre,7.6,4424 Total Reviews
23,Clink261,Hostel - 3.2km from city centre,8.3,205 Total Reviews
24,St Christopher's Inn - London Bridge,Hostel - 1.8km from city centre,7.4,3465 Total Reviews
25,St Christopher's Inn - Liverpool Street,Hostel - 3.2km from city centre,8.0,482 Total Reviews
26,Smart Hyde Park View Hostel,Hostel - 4.8km from city centre,8.0,4678 Total Reviews
27,"PubLove @ The Steam Engine, Waterloo",Hostel - 0.5km from city centre,8.0,377 Total Reviews