In [1]:
#importing required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

### Q 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [2]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

#get the url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

#creating empty list for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [4]:
# scraping Rank
rank = driver.find_elements_by_xpath("//td[@align='center']")[:15]
for i in rank:       
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)        

time.sleep(3)        
# scraping Name
name = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//a")[:20]
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

time.sleep(3)        
# scraping Artist
artist = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//a")[:20]
for i in artist:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)        
        
time.sleep(3)
# scraping Upload_date
date = driver.find_elements_by_xpath("//td[@align='right']")[:5]
for i in date:       
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)        

time.sleep(3)        
# scraping Views
view = driver.find_elements_by_xpath("//td[@align='center']")[:15]
for i in view:       
        if i.text is None:
            Views.append("--")
        else:
            Views.append(i.text) 
            
# creating the dataframe from the scraped data
df=pd.DataFrame({"Rank":Rank[0::3],"Name":Name[0::4],"Artist":Artist[2::4],"Upload_date":Upload_date,"Views":Views[1::3]})
df.head()

,Rank,Name,Artist,Upload_date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.46
2,3.,Johny Johny Yes Papa,"""LooLoo Kids""","October 8, 2016",5.58
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.40
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.19

### Q 2. Scrape the details team India’s international fixtures from bcci.tv.

In [5]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(4)

#get the url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

# clicking the options
options=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
options.click()
time.sleep(3)

#clicking the fixtures
fixtures=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
fixtures.click()

In [6]:
#creating empty list for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

# scraping match title
title = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:       
    if i.text is None :
        Match_title.append("--") 
    else:
        Match_title.append(i.text)

In [7]:
# scraping series
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:       
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)
        
time.sleep(3)        
# scraping Place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in place:       
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)  
        
time.sleep(3)
# scraping Date
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
for i in date:       
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
        
time.sleep(3)
#creating empty list for month
Month=[]
# scraping Month
month = driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in month:       
    if i.text is None :
        Month.append("--") 
    else:
        Month.append(i.text)      #optional scraping for Month
        
time.sleep(3)
#creating empty list for day
Day=[]
# scraping Day
day = driver.find_elements_by_xpath("//span[@class='fixture__day']")
for i in day:       
    if i.text is None :
        Day.append("--") 
    else:
        Day.append(i.text)      #optional scraping of Day  
        
time.sleep(3)
# scraping Time
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:       
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Month":Month,"Day":Day,"Time":Time})
df

,Match_title,Series,Place,Date,Month,Day,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,Wednesday,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,Thursday,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,Wednesday,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,Thursday,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,Friday,15:30 IST

### Q 3. Scrape the details of selenium exception from guru99.com.

In [8]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://www.guru99.com/"
driver.get(url)

# clicking the 'selenium'
selenium=driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]")
selenium.click()

# clicking the 'exception handling'
tutorial=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
tutorial.click()

#creating empty list for scraping data
Name=[]
Description=[]

# scraping name
name = driver.find_elements_by_xpath("//table[@class='table table-striped']//td")
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

# scraping Description
desc = driver.find_elements_by_xpath("//table[@class='table table-striped']//td")
for i in desc:       
        if i.text is None :
            Description.append("--")
        else:
            Description.append(i.text)
            
# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name[2::2],"Description":Description[3::2]})
df.head(10)

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...

### Q 4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [10]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "http://statisticstimes.com/"
driver.get(url)

# clicking the 'economy'
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

# clicking the 'dropdown button'
dropdown=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
dropdown.click()

In [11]:
# clicking the 'statewise GDP of India'
GDP_of_India=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP_of_India.click()

#creating empty list for scraping data
Rank=[]
State=[]
GDSP_19_20=[]
GSDP_18_19=[]
Share_18_19=[]
GDP_billion=[]

# scraping rank
rank = driver.find_elements_by_xpath("//td[@class='data1']")[:33]
for i in rank:       
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
                
# scraping state
state = driver.find_elements_by_xpath("//td[@class='name']")[:33]
for i in state:       
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
                
# scraping GSDP at current price (19-20)
GSDP = driver.find_elements_by_xpath("//td[@class='data']")[:165]
for i in GSDP:       
    if i.text is None :
        GDSP_19_20.append("--") 
    else:
        GDSP_19_20.append(i.text)
                
# scraping GSDP at current price (18-19)
GSDP = driver.find_elements_by_xpath("//td[@class='data sorting_1']")[:33]
for i in GSDP:       
    if i.text is None :
        GSDP_18_19.append("--") 
    else:
        GSDP_18_19.append(i.text)
                
# scraping Share(18-19)
share = driver.find_elements_by_xpath("//td[@class='data']")[:165]
for i in share:       
    if i.text is None :
        Share_18_19.append("--") 
    else:
        Share_18_19.append(i.text)
                
# scraping GDP($ billion)
GDP = driver.find_elements_by_xpath("//td[@class='data']")[:165]
for i in GDP:
    if i.text is None :
            GDP_billion.append("--") 
    else:
        GDP_billion.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Rank":Rank,"State":State,"GDSP_19_20":GDSP_19_20[::5],"GSDP_18_19":GSDP_18_19,"Share_18_19":Share_18_19[1::5],"GDP_billion":GDP_billion[2::5]})
df.head(10)

  Rank           State GDSP_19_20 GSDP_18_19 Share_18_19 GDP_billion
0    1     Maharashtra          -  2,632,792      13.94%     399.921
1    2      Tamil Nadu  1,845,853  1,630,208       8.63%     247.629
2    3   Uttar Pradesh  1,687,818  1,584,764       8.39%     240.726
3    4         Gujarat          -  1,502,899       7.96%     228.290
4    5       Karnataka  1,631,977  1,493,127       7.91%     226.806
5    6     West Bengal  1,253,832  1,089,898       5.77%     165.556
6    7       Rajasthan  1,020,989    942,586       4.99%     143.179
7    8  Andhra Pradesh    972,782    862,957       4.57%     131.083
8    9       Telangana    969,604    861,031       4.56%     130.791
9   10  Madhya Pradesh    906,672    809,592       4.29%     122.977

### Q 5. Scrape the details of trending repositories on Github.com.

In [12]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://github.com/"
driver.get(url)

# clicking the 'explore'
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()

# clicking the 'trending'
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
trending.click()

#creating empty list for scraping the data
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

# scraping Repository_title
repo_title = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")[:22]
for i in repo_title:       
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)
                        
# scraping Repository_description
repo_desc = driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")[:22]
for i in repo_desc:       
    if i.text is None :
        Repository_description.append("--") 
    else:
        Repository_description.append(i.text)
            
# scraping Language_used
lang = driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
for i in lang:       
    if i.text is None :
        Language_used.append("--") 
    else:
        Language_used.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Language_used":Language_used})
df.head(10)

,Repository_title,Repository_description,Language_used
0,apple / swift-algorithms,Commonly used sequence and collection algorith...,Swift
1,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,JavaScript
2,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,Python
3,dataease / dataease,人人可用的开源数据可视化分析工具。,Java
4,google / googletest,GoogleTest - Google Testing and Mocking Framework,C++
5,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",Shell
6,tailscale / tailscale,"The easiest, most secure way to use WireGuard ...",Go
7,electron / electron,Build cross-platform desktop apps with JavaScr...,C++
8,Satsuoni / widevine-l3-guesser,decompiled pegasus_spyware,C
9,jonathandata1 / pegasus_spyware,"50+ mini web projects using HTML, CSS & JS",Smali

In [13]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')]
for url in urls[0:22]:
    try:
        
        driver.get(url)
        count=driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        Contributors_count.append(count.text)
    except NoSuchElementException :
        Contributors_count.append("---")

### Q 6. Scrape the details of top 100 songs on billboard.com.

In [14]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://www.billboard.com/"
driver.get(url)

# clicking the chart
chart=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]")
chart.click()

# clicking the view chart
hot100=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[2]/div[1]")
hot100.click()

#creating empty list for scraping data
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

# scraping Song name
song = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:       
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)         

# scraping Artist name
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:       
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text) 
        
# scraping last week rank
lw_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lw_rank:       
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)  

# scraping peak rank
peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:       
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)    

# scraping Weeks_on_board
on_board = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in on_board:       
    if i.text is None :
        Weeks_on_board.append("--")
    else:
        Weeks_on_board.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last_week_rank":Last_week_rank,"Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

### Q 7. Scrape the details of Data science recruiters from naukri.com.

In [15]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

# entering “Data Analyst” in “Skill,Designations,Companies” field.
search_field=driver.find_element_by_xpath("//input[@class='sugInp']") #job search bar
search_field.send_keys("Data Science")

# clicking the search button
search_button=driver.find_element_by_id("qsbFormBtn")
search_button.click()

#creating empty list for scraping data
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

#scraping the job-titles
title=driver.find_elements_by_xpath("//p[@class='highlightable']//a")[:48]
for i in title:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
               
#scraping the Designation
deg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")[:48]
for i in deg:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
               
#scraping the Company
comp=driver.find_elements_by_xpath("//a[@class='ellipsis']")[:48]
for i in comp:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
               
#scraping the Skills_they_hire_for
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[:48]
for i in skills:
    if i.text is None :
        Skills_they_hire_for.append("--") 
    else:
        Skills_they_hire_for.append(i.text)
        
#scraping the Location
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")[:48]
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)  
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,"Skills_they_hire_for":Skills_they_hire_for,"Location":Location})
df.head(10)

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Data Science Network,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,shravan Kumar Gaddam,Company HR,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine...",Pune
3,Shore Infotech India Pvt. Ltd,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,MARSIAN Technologies LLP,Recruitment Lead Consultant,MARSIAN Technologies LLP,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Anik Agrawal,Programme Manager,Anik Agrawal,Data Science,Chennai
7,Enerlytics Software Solutions Pvt Ltd,HR Administrator,Enerlytics Software Solutions Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,subhas patel,Director,subhas patel,"Technical Training, Software Development, Pres...",Indore
9,LibraryXProject,Human Resource,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore

### 8. Scrape the details of Highest selling novels.

In [16]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#scraping Books Name
book=driver.find_elements_by_xpath("//td[@class='left']")
for i in book:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
                
# scraping Author name
author=driver.find_elements_by_xpath("//td[@class='left']")
for i in author:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)

# scraping Volumes Sold
volume=driver.find_elements_by_xpath("//td[@class='left']")
for i in volume:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
                
# scraping Publisher
publisher=driver.find_elements_by_xpath("//td[@class='left']")
for i in publisher:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
               
# scraping Genre
genre = driver.find_elements_by_xpath(("//td[@class='last left']"))
for i in genre:
    if i.text is None :
        Genre.append("--")
    else:
        Genre.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Book_name":Book_name[1::5],"Author_name":Author_name[2::5],"Volumes_sold":Volumes_sold[3::5],"Publisher":Publisher[4::5],"Genre":Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q 9. Scrape the details most watched tv series of all time from imdb.com.

In [17]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

# creating empty lists for scraping data
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# scraping top Movies name
name = driver.find_elements_by_xpath(("//h3[@class='lister-item-header']//a"))
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
#scraping year span       
year = driver.find_elements_by_xpath(("//span[@class='lister-item-year text-muted unbold']"))
for i in year:       
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text) 
        
#scraping genre       
gen = driver.find_elements_by_xpath(("//span[@class='genre']"))
for i in gen :       
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
#scraping run time
time = driver.find_elements_by_xpath(("//span[@class='runtime']"))
for i in time:       
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)

#scraping ratings
rate = driver.find_elements_by_xpath(("//div[@class='ipl-rating-star small']"))
for i in rate:       
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)

#scraping votes
vote = driver.find_elements_by_xpath(("//span[@name='nv']"))
for i in vote:       
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,845,677"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"883,655"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"884,545"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,774"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,679"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,968"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,660"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,435"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,510"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,745"

### Q 10. Details of Datasets from UCI machine learning repositories.

In [18]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 

#get the url
url = "https://archive.ics.uci.edu/"
driver.get(url)

# clicking the 'View all dataset'
view_dataset=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
view_dataset.click()

#creating empty list for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

# scraping Dataset_name
dataset = driver.find_elements_by_xpath("//p[@class='normal']//b")
for i in dataset:       
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)
                
# scraping Data_type
datatype = driver.find_elements_by_xpath("//p[@class='normal']")[:4125]
for i in datatype:       
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)
               
# scraping Task
task = driver.find_elements_by_xpath("//p[@class='normal']")
for i in task:       
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
                
# scraping Attribute_type
attribute_type = driver.find_elements_by_xpath("//p[@class='normal']")
for i in attribute_type:       
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
                
# scraping No_of_instances
instances = driver.find_elements_by_xpath("//p[@class='normal']")
for i in instances:       
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
              
# scraping No_of_attribute
attribute = driver.find_elements_by_xpath("//p[@class='normal']")
for i in attribute:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
        
# scraping Year
year = driver.find_elements_by_xpath("//p[@class='normal']")
for i in year:
    if i.text is None :
        Year.append("--")
    else:
        Year.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Dataset_name":Dataset_name,
                 "Data_type":Data_type[9::7],
                 "Task":Task[10::7],
                 "Attribute_type":Attribute_type[11::7],
                 "No_of_instances":No_of_instances[12::7],
                 "No_of_attribute":No_of_attribute[13::7],
                 "Year":Year[14::7]})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021