In [4]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yash bhinge\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: trio~=0.17 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\yash bhinge\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\yash bhinge\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yash bhinge\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yash bhinge\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [62]:
driver=webdriver.Chrome(r"chromedriver.exe")

Question_1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [63]:
#Opening the naukri page on automated chrome browser
driver.get ("https://www.naukri.com/")

In [64]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [65]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [66]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [67]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [70]:
#scraping job title from the given page

titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in titles[0:10]:
    job_title.append(i.text)
job_title
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [71]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [72]:
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [73]:
df

,Job_title,job_location,company_name,Exp_required
0,Data Analyst - Pharma/hls Domain (4-9 Years),"Mumbai, Pune, Gurgaon/Gurugram, Bangalore/Beng...",Fractal Analytics,10-20 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
4,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
8,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
9,Data Analyst | Google App Script,"Mumbai, Bangalore/Bengaluru",Webengage,3-6 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [74]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [75]:
driver.get ("https://www.naukri.com/")

In [76]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [77]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [87]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [88]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [89]:
#scraping job title from the given page

titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in titles[0:10]:
    job_title.append(i.text)
job_title
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [90]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [91]:
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [92]:
df

,Job_title,job_location,company_name,Exp_required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Cognizant,8-10 Yrs
3,Staff Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,10-12 Yrs
4,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services (TCS),7-12 Yrs
5,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
6,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
7,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL Limited,8-10 Yrs
8,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies,4-8 Yrs
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes,5-10 Yrs

Ques-3 In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [93]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [94]:
driver.get ("https://www.naukri.com/")

In [95]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [96]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [97]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [98]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
job_salary=[]

In [99]:
#scraping job title from the given page

titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in titles[0:10]:
    job_title.append(i.text)
job_title
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [100]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(job_salary))

10 10 10 10 0

In [103]:
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [104]:
df

,Job_title,job_location,company_name,Exp_required
0,Data Scientist,"Hybrid - Delhi / NCR, Kolkata, Hyderabad/Secun...",Cognizant,8-10 Yrs
1,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
2,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
3,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies,4-8 Yrs
4,Job | Hiring For AVP/ VP | Senior Data Scienti...,"Hybrid - Pune, Gurgaon/Gurugram, Bangalore/Ben...",Citicorp Finance,8-13 Yrs
5,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
6,Data Scientist | HCL Chennai/Noida/ Bangalore ...,"Hybrid - Noida, Chennai, Bangalore/Bengaluru",HCLTech,6-9 Yrs
7,Data Scientist (HR),"Mumbai, New Delhi, Hyderabad/Secunderabad",NCR Corporation,1-2 Yrs
8,Manager-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,3-6 Yrs
9,Data Science - Technical Lead,"Noida, Bangalore/Bengaluru",Paytm,6-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
ProductDescription
Price
The attributes which you have to scrape is ticked marked in the below image. To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 
5. Now scrape data from this page as usual 6. Repeat this until you get data for 100 sunglasses

In [105]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [106]:
driver.get ("https://www.flipkart.com/")

In [107]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [109]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [110]:
brand=[]

In [111]:
#scraping the brand of the product

for page in range(0,3):
    a=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in a:
        brand.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [112]:
len(brand)

120

In [113]:
brand=brand[0:100]

In [114]:
df=pd.DataFrame({'brand':brand})

In [115]:
df

             brand
0    VINCENT CHASE
1    VINCENT CHASE
2             SRPM
3           PIRASO
4         Fastrack
..             ...
95  ROZZETTA CRAFT
96         Anemone
97       New Specs
98          PIRASO
99   VINCENT CHASE

[100 rows x 1 columns]

In [116]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
        Product_Description.append(i.text)

In [117]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [118]:
len(Product_Description)

120

In [119]:
Product_Description=Product_Description[0:100]
Product_Description

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (60)',
 'Riding Glasses, UV Protection, Mirrored Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized Wrap-around Sunglasses (45)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Aviator Sunglasses (54)',
 'TRILLBE X Wayfarer Sunglass',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses A...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (60)',
 'Riding Glasses, UV Protection, Mirrored Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized Wrap-around Sunglasses (45)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Aviator Sunglasses (54)',
 'TRILLBE X Wayfarer Sunglass',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses A...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (60)',
 'Riding Glasses, UV Protection, Mirrored Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized Wrap-around Sunglasses (45)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (62)']

In [120]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)

In [121]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [122]:
len(Price)

120

In [123]:
Price=Price[0:100]
Price

['₹999',
 '₹829',
 '₹149',
 '₹274',
 '₹899',
 '₹149',
 '₹760',
 '₹423',
 '₹99',
 '₹633',
 '₹99',
 '₹599',
 '₹149',
 '₹149',
 '₹224',
 '₹391',
 '₹208',
 '₹268',
 '₹259',
 '₹879',
 '₹149',
 '₹356',
 '₹293',
 '₹281',
 '₹185',
 '₹129',
 '₹182',
 '₹799',
 '₹642',
 '₹719',
 '₹216',
 '₹799',
 '₹179',
 '₹283',
 '₹277',
 '₹929',
 '₹799',
 '₹342',
 '₹726',
 '₹413',
 '₹999',
 '₹829',
 '₹149',
 '₹274',
 '₹899',
 '₹149',
 '₹760',
 '₹423',
 '₹99',
 '₹633',
 '₹99',
 '₹599',
 '₹149',
 '₹149',
 '₹224',
 '₹391',
 '₹208',
 '₹268',
 '₹259',
 '₹879',
 '₹149',
 '₹356',
 '₹293',
 '₹281',
 '₹185',
 '₹129',
 '₹182',
 '₹799',
 '₹642',
 '₹719',
 '₹216',
 '₹799',
 '₹179',
 '₹283',
 '₹277',
 '₹929',
 '₹799',
 '₹342',
 '₹726',
 '₹413',
 '₹999',
 '₹829',
 '₹149',
 '₹274',
 '₹899',
 '₹149',
 '₹760',
 '₹423',
 '₹99',
 '₹633',
 '₹99',
 '₹599',
 '₹149',
 '₹149',
 '₹224',
 '₹391',
 '₹208',
 '₹268',
 '₹259',
 '₹879']

In [124]:
discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discount.append(i.text)

In [125]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(5)

In [126]:
len(discount)

120

In [127]:
discount=discount[0:100]
discount

['12% off',
 '83% off',
 '88% off',
 '78% off',
 '86% off',
 '89% off',
 '81% off',
 '52% off',
 '20% off',
 '87% off',
 '88% off',
 '70% off',
 '84% off',
 '65% off',
 '86% off',
 '64% off',
 '88% off',
 '60% off',
 '73% off',
 '60% off',
 '29% off',
 '82% off',
 '88% off',
 '80% off',
 '86% off',
 '89% off',
 '86% off',
 '60% off',
 '81% off',
 '60% off',
 '78% off',
 '50% off',
 '85% off',
 '78% off',
 '81% off',
 '10% off',
 '74% off',
 '80% off',
 '82% off',
 '53% off',
 '12% off',
 '83% off',
 '88% off',
 '78% off',
 '86% off',
 '89% off',
 '81% off',
 '52% off',
 '20% off',
 '87% off',
 '88% off',
 '70% off',
 '84% off',
 '65% off',
 '86% off',
 '64% off',
 '88% off',
 '60% off',
 '73% off',
 '60% off',
 '29% off',
 '82% off',
 '88% off',
 '80% off',
 '86% off',
 '89% off',
 '86% off',
 '60% off',
 '81% off',
 '60% off',
 '78% off',
 '50% off',
 '85% off',
 '78% off',
 '81% off',
 '10% off',
 '74% off',
 '80% off',
 '82% off',
 '53% off',
 '12% off',
 '83% off',
 '88% off',
 '78% off',
 '86% off',
 '89% off',
 '81% off',
 '52% off',
 '20% off',
 '87% off',
 '88% off',
 '70% off',
 '84% off',
 '65% off',
 '86% off',
 '64% off',
 '88% off',
 '60% off',
 '73% off',
 '60% off']

In [128]:
print(len(brand),len(Product_Description),len(Price),len(discount))

100 100 100 100

In [129]:
df=pd.DataFrame({'brand':brand,'Product_Decription':Product_Description,'Price':Price,'discount':discount})
df

,brand,Product_Decription,Price,discount
0,VINCENT CHASE,UV Protection Wayfarer Sunglasses (Free Size),₹999,12% off
1,VINCENT CHASE,UV Protection Aviator Sunglasses (57),₹829,83% off
2,SRPM,UV Protection Butterfly Sunglasses (60),₹149,88% off
3,PIRASO,"Riding Glasses, UV Protection, Mirrored Aviato...",₹274,78% off
4,Fastrack,UV Protection Wayfarer Sunglasses (32),₹899,86% off
...,...,...,...,...
95,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Cat-eye S...",₹391,64% off
96,Anemone,"UV Protection, Mirrored Wayfarer Sunglasses (58)",₹208,88% off
97,New Specs,"by Lenskart Polarized, UV Protection Round Sun...",₹268,60% off
98,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹259,73% off
99,VINCENT CHASE,UV Protection Wayfarer Sunglasses (62),₹879,60% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART As shown in the above page you have to scrape the tick marked attributes. These are:

1.Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [131]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [228]:
driver.get ("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [232]:
rating=[]
for page in range(0,10):
    a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in a:
        rating.append(i.next)

In [239]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [242]:
rating=rating[0:100]

In [241]:
rating

[]

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field. You have to scrape 4 attributes of each sneaker:

1. Brand
2. ProductDescription
3. Price

As shown in the below image, you have to scrape the tick marked attributes

In [142]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [143]:
driver.get ("https://www.flipkart.com/")

In [144]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [146]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [147]:
brand=[]

In [148]:
for page in range(0,3):
    a=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in a:
        brand.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [149]:
len(brand)

120

In [150]:
brand=brand[0:100]

In [151]:
#creating the dataframe from above data.
df=pd.DataFrame({'brand':brand})

In [152]:
df

       brand
0   RapidBox
1       andD
2      BIRDE
3        SFR
4     BRUTON
..       ...
95        TR
96      aadi
97    Shozie
98    BRUTON
99  RapidBox

[100 rows x 1 columns]

In [153]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
        Product_Description.append(i.text)

In [154]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [155]:
len(Product_Description)

111

In [156]:
Product_Description=Product_Description[0:100]

In [157]:
df=pd.DataFrame({'Product_Description':Product_Description})

In [158]:
df

                                  Product_Description
0   Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...
1   BALANCER Men's Fashion Sneakers Lace-Up Traine...
2                                  Sneakers For Women
3                           Series 7 Sneakers For Men
4   Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...
..                                                ...
95  Comfortable Premium Stylish Unique Trendy Popu...
96                     STREET ICON M Sneakers For Men
97                                   Sneakers For Men
98       Combo Pack of 2 Casual Shoe Sneakers For Men
99              Men's White Sneakers Sneakers For Men

[100 rows x 1 columns]

In [159]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)

In [160]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [161]:
len(Price)

120

In [162]:
Price=Price[0:100]

In [163]:
Price

['₹571',
 '₹634',
 '₹199',
 '₹298',
 '₹249',
 '₹499',
 '₹992',
 '₹999',
 '₹243',
 '₹599',
 '₹1,679',
 '₹571',
 '₹399',
 '₹299',
 '₹499',
 '₹479',
 '₹373',
 '₹399',
 '₹449',
 '₹571',
 '₹389',
 '₹389',
 '₹499',
 '₹699',
 '₹499',
 '₹449',
 '₹389',
 '₹599',
 '₹374',
 '₹299',
 '₹499',
 '₹499',
 '₹449',
 '₹399',
 '₹299',
 '₹599',
 '₹389',
 '₹1,047',
 '₹649',
 '₹499',
 '₹571',
 '₹634',
 '₹199',
 '₹298',
 '₹249',
 '₹499',
 '₹992',
 '₹999',
 '₹243',
 '₹599',
 '₹1,679',
 '₹571',
 '₹399',
 '₹299',
 '₹499',
 '₹479',
 '₹373',
 '₹399',
 '₹449',
 '₹571',
 '₹389',
 '₹389',
 '₹499',
 '₹699',
 '₹499',
 '₹449',
 '₹389',
 '₹599',
 '₹374',
 '₹299',
 '₹499',
 '₹499',
 '₹449',
 '₹399',
 '₹299',
 '₹599',
 '₹389',
 '₹1,047',
 '₹649',
 '₹499',
 '₹571',
 '₹634',
 '₹199',
 '₹298',
 '₹249',
 '₹499',
 '₹992',
 '₹999',
 '₹243',
 '₹599',
 '₹1,679',
 '₹571',
 '₹399',
 '₹299',
 '₹499',
 '₹479',
 '₹373',
 '₹399',
 '₹449',
 '₹571']

In [164]:
discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discount.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [165]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [166]:
len(discount)

120

In [167]:
discount=discount[0:100]

In [168]:
print(len(brand),len(Product_Description),len(Price),len(discount))

100 100 100 100

In [169]:
df=pd.DataFrame({'brand':brand,'Product_Decription':Product_Description,'Price':Price,'discount':discount})
df

       brand                                 Product_Decription Price discount
0   RapidBox  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹571  57% off
1       andD  BALANCER Men's Fashion Sneakers Lace-Up Traine...  ₹634  46% off
2      BIRDE                                 Sneakers For Women  ₹199  60% off
3        SFR                          Series 7 Sneakers For Men  ₹298  50% off
4     BRUTON  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹249  32% off
..       ...                                                ...   ...      ...
95        TR  Comfortable Premium Stylish Unique Trendy Popu...  ₹479  42% off
96      aadi                     STREET ICON M Sneakers For Men  ₹373  25% off
97    Shozie                                   Sneakers For Men  ₹399  63% off
98    BRUTON       Combo Pack of 2 Casual Shoe Sneakers For Men  ₹449  50% off
99  RapidBox              Men's White Sneakers Sneakers For Men  ₹571  52% off

[100 rows x 4 columns]

Q7: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1. Title
2. Ratings
3. Price

In [170]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [171]:
driver.get ('https://www.amazon.in')

In [174]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[2]/form/div/div/input')
product.send_keys('Laptop')

In [175]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[2]/form/input')
search.click()

In [176]:
Title=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    Title.append(i.text)
Title=Title[0:11]
Title

['LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16GB/512GB SSD Intel Iris Xe Graphics] [Thunderbolt4/USB-C] [FHD Webcam+Built-in AI] 80WH Battery 3Yrs Warranty(Black,1.14 Kg)',
 'HP Chromebook 11a, MediaTek MT8183 Processor 11.6 inch(29.5 cm) Thin and Light Touchscreen Laptop (4 GB RAM/64 GB eMMC/ Chrome OS /Fast Charge/Google Assistant/Indigo Blue/1.07Kg), na0002MU, 1.07Kg',
 '(Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor 14.1 Inches HD Screen Notebook Computer (8 GB Ram & 256 GB SSD, Windows 10 Pro, 1.71Kg)',
 'HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6inch(39.6cm) HD, Micro-Edge Laptop/AMD Radeon Graphics/Dual Speakers/Win 11 Home/MS Office/Fast Charge/Jet Black/1.69Kg, 15s-ey1508AU',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/Backlit Keyboard/2Yr Warranty/Arctic Grey/1.65Kg), 82KU017KIN',
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th Gen 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN',
 'HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 GB DDR4 RAM/512 GB PCIe® NVMe™ SSD /AMD Radeon™ Graphics/35.6 cm (14" inch)/DOS/Matte Black/1.5 KG/1 Year Onsite Warranty',
 'Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglare Thin and Light Laptop (AMD Athlon A3050U/4GB RAM/1TB HDD/DOS/Integrated AMD Graphics/Grey/1 Year Onsite/1.59 kg), 82FJ00B2IH',
 'Acer Predator Helios 500 Gaming Laptop (11Th Gen Intel Core I9/17.3 Inches 4K Uhd Display/64Gb Ddr4 Ram/2Tb Ssd/1Tb HDD/RTX 3080 Graphics/Windows 10 Home/Per Key RGB Backlit Keyboard) Ph517-52']

In [177]:
Rating=[]
for i in driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]'):
    Rating.append(i.text)
Rating=Rating[0:11]
Rating

['', '', '', '', '', '', '', '', '', '', '']

In [178]:
Price=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-price"]'):
    Price.append(i.text)
Price=Price[0:11]
Price

['₹99,490',
 '₹22,470',
 '₹17,899',
 '₹30,027',
 '₹25,890',
 '₹59,418',
 '₹61,990',
 '₹55,800',
 '',
 '',
 '₹38,401']

In [179]:
df=pd.DataFrame({'Title':Title,'Rating':Rating,'Price':Price})
df

                                                Title Rating    Price
0   LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...         ₹99,490
1   HP Chromebook 11a, MediaTek MT8183 Processor 1...         ₹22,470
2   (Renewed) Dell Latitude E5470 Intel Core i5 6t...         ₹17,899
3   HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...         ₹30,027
4   ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...         ₹25,890
5   ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...         ₹59,418
6   Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...         ₹61,990
7   Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...         ₹55,800
8   HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...
9   Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...
10  Acer Predator Helios 500 Gaming Laptop (11Th G...         ₹38,401

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/ 
2. Click on Top Quotes 
3. Than scrap 

a) Quote b) Author c) Type Of Quotes

In [181]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [184]:
driver.get ('https://www.azquotes.com')

In [189]:
select = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
select.click()

In [191]:
quote_tags = driver.find_element(By.XPATH,"//a[@class='title']")

In [192]:
author_tags = driver.find_element(By.XPATH,"//div[@class='author']")

In [193]:
type_tags = driver.find_element(By.XPATH,"//div[@class='tags']")

In [196]:
quote_title = []
quote_tags = driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags:
    quote_title.append(i.text)
    
len(quote_title)

100

In [197]:
author_title = []
author_tags = driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags:
    author_title.append(i.text)
    
len(author_title)

100

In [198]:
type_title = []
type_tags = driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags:
    type_title.append(i.text)
    
len(type_title)

100

In [199]:
df = pd.DataFrame()
df['Quote_title'] = quote_title
df['Author_title'] = author_title
df['Type_title'] = type_title
df

,Quote_title,Author_title,Type_title
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:

1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame

In [200]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [201]:
driver.get ('https://www.jagranjosh.com/')

In [204]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [205]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [211]:
Name=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[2]'):
    Name.append(i.text)
Name=Name
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [207]:
Born_Dead=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[3]'):
    Born_Dead.append(i.text)
Born_Dead=Born_Dead
Born_Dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [213]:
Term_of_office=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[4]'):
    Term_of_office.append(i.text)
Term_of_office=Term_of_office
Term_of_office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [208]:
Remark=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[5]'):
    Remark.append(i.text)
Remark=Remark
Remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [214]:
df=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term_of_office':Term_of_office,'Remark':Remark})

In [215]:
df

,Name,Born_Dead,Term_of_office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/ This task will be done in following steps:

1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world.
4. Then scrap the mentioned data and make the dataframe

In [216]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [217]:
driver.get ('https://www.motor1.com/')

In [218]:
product=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
product.send_keys('50 most expensive cars in the world')

In [221]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/form/input[2]')
search.click()

In [225]:
Brand=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h3'):
    Brand.append(i.text)
Brand=Brand[0:50]
Brand

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [226]:
Price=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p/strong'):
    Price.append(i.text)
Price=Price[0:50]
Price

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million']

In [227]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})
df

                              Brand                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million